#evidence{
    background-color: var(--black-color);
    display: flex;
    flex-direction: column;
}

#evidence-table {
    color: var(--white-color);
    font-family: Neue-Machina;
    vertical-align: top;
    text-align: left;
    border-collapse: collapse;
    /* border-style: hidden; */
    align-self: center;

    width: 90%;
    margin-bottom: 10vh;
}

#evidence-table td, #evidence-table th {
    border: 3px solid rgb(178, 178, 178);
}

#evidence-table tr:first-of-type {
    text-align: center;
    font-weight: bold;
    border-top: 0;
    background-color: #c36aed80;
}

/* Target first row (headers) */
#evidence-table tr:first-child>th {
    font-size: 1.3rem;
    padding: 10px;
}

/* Target every row but first one */
#evidence-table tr:not(:first-child)>th {
    padding: 10px;
    text-align: center;
    font-weight: 300;
}

#evidence-table tr:not(:first-child)>th:first-child {
    border-left: 3px solid rgb(178, 178, 178);
    border-right: none;
}
#evidence-table tr:not(:first-child)>th:last-child {
    border-right: 3px solid rgb(178, 178, 178);
    border-left: none;
}

#evidence-table tr:not(:first-child)>th:not(:first-child):not(:last-child) {
    border-right: 1px solid var(--light-grey-color);
    border-left: 1px solid var(--light-grey-color);
}