#evidence {
    background-color: var(--black-color);
    display: flex;
    flex-direction: column;
}

#evidence-table {
    color: var(--white-color);
    font-family: Neue-Machina;

    border-collapse: separate;
    border-spacing: 0;
    align-self: center;
    table-layout: fixed;


    width: 90%;
    margin-bottom: 10vh;
}

#evidence-table th {
    border-top: 2px solid rgb(178, 178, 178);
    border-bottom: 2px solid rgb(178, 178, 178);
}

#evidence-table tr:first-of-type {
    text-align: center;
    font-weight: bold;
    border-top: 0;
    background-color: #60008d;
    position: sticky;
    top: 6.9vh;

}

/* Target first row (headers) */
#evidence-table tr:first-child>th {
    padding: 20px 10px;
}

#evidence-table tr:first-child>th:first-of-type {
    border-left: 3px solid rgb(178, 178, 178);
}

#evidence-table tr:first-child>th:last-of-type {
    border-right: 3px solid rgb(178, 178, 178);
}

#evidence-table tr:first-child>th div:nth-child(odd) {
    font-size: 1.3rem;
    font-weight: 100;
}

#evidence-table tr:first-child>th div:nth-child(even) {
    font-weight: 300;
}

/* Target every row but first one */
#evidence-table tr:not(:first-child)>th {
    padding: 45px 10px;
    text-align: center;
    font-weight: 300;
    line-height: 1.5;
}

#evidence-table tr:not(:first-child)>th:first-child {
    border-left: 3px solid rgb(178, 178, 178);
}

#evidence-table tr:not(:first-child)>th:last-child {
    border-right: 3px solid rgb(178, 178, 178);
}

#evidence-table th {
    border-right: 1px solid rgb(178, 178, 178);
}