#landing {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    padding-right: 3rem;
}

#wampum {
    background: url("../../assets/wampum.png") no-repeat center;
    height: 13vh;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0;
    margin: auto;
    padding: 1rem 0;
    filter: grayscale(01);
}

#top-text {
    position: relative;
    font-size: 3rem;
    color: var(--primary-color);
    line-height: 5rem;
    text-shadow: 3px 3px 10px #000000;
}

.subtitle {
    color: var(--subtitle-color);
    font-size: 1.2rem;
}

.text {
    position: relative;
    display: flex;
    align-items: start;
    color: var(--white-color);
    text-align: justify;
    flex-grow: 1;
    padding-right: 3rem;
}

#address > #query-decorator > input {
    width: 30vw;
}

#address {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-bottom: 3vh;
    flex-direction: column;
    gap: 1rem;
}

#address > #query-decorator {
    flex-direction: row;
    gap: 1em
}

#address > #query-decorator > ul {
    top: 38px;
    width: 30vw;
    height: 20vh;
    z-index: 9999;
}