#landing {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
}

#top-text {
    position: relative;
    font-size: 3rem;
    color: var(--primary-color);
    line-height: 5rem;
    text-shadow: 3px 3px 10px #000000;
}

#subtitle-text {
    color: var(--subtitle-color);
    font-size: 1.2rem;
}

#landing > .dividing-line {
    margin-bottom: 1.5rem;
}

#bottom-text {
    position: relative;
    display: flex;
    align-items: start;
    color: var(--white-color);
    text-align: justify;
    flex-grow: 1;
    padding-right: 10rem;
}

#address > #query-decorator > input {
    width: 100%;
}