#intro-box {
    position: absolute;
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: fit-content;
    height: min-content;
    right: 10vw;
    top: 20%;


    background-color: var(--black-color);
    outline: 2px solid #444444;
    border-radius: var(--radius);

    transition: 0.5s all ease;
}

#query-box {
    position: absolute;
    z-index: 2;

    display: none;
    flex-direction: column;
    justify-content: space-between;

    width: fit-content;
    max-height: 72vh;
    right: 5vw;
    top: 10%;


    background-color: var(--black-color);
    outline: 2px solid #444444;
    border-radius: var(--radius);
}

#intro-content>h1 {
    font-size: 2.5rem;
    font-family: Neue-Machina;
    font-weight: 300;
    line-height: 1.1;
    color: var(--white-color);
}

#intro-content>h2 {
    font-size: 1.5rem;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 300;
    color: var(--white-color);
}

#intro-content {
    padding: 20px;
    height: 100%;
}

#intro-table {
    align-items: center;
    justify-content: space-around;
    width: 100%;
    border-spacing: 10px;
}

#intro-table tr:first-of-type {
    font-size: 2.7rem;
    font-family: 'Space Grotesk', sans-serif;
    color: var(--white-color);
}

tr:last-of-type {
    font-size: 1.2rem;
    line-height: 1.5;
    font-family: 'Hanken Grotesk', sans-serif;
    color: var(--white-color);
    vertical-align: top;
}


#view-full-map {
    outline: 2px solid var(--black-color);
    vertical-align: middle;
    text-align: center;
    position: fixed;
    z-index: 10;
    border: 2px;

    right: 5vw;
    bottom: 7.5vh;


    background-color: var(--purple-color);
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 0.4rem;
    border-radius: var(--radius);
}

.grow {
    transition: all 0.2s ease-in-out;
}

.grow:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.grow-no-pointer {
    transition: all 0.5s ease-in-out;
}

.grow-no-pointer:hover {
    transform: scale(1.02);
}


#landing {
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    z-index: 1;
}

#landing>p {
    color: var(--black-color);
}

.title {
    color: var(--black-color);
    font-family: Neue-Machina;
    font-size: 2.5rem;
    text-align: center;
    line-height: 1.5;
}

.introduction-text {
    width: 800px;
    color: var(--black-color);

    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 20px;
    align-self: center;
}

.introduction-text>i {
    width: 800px;
    color: var(--black-color);

    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 20px;
    align-self: center;
}

#wampum {
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0;
    margin: auto;
    padding: 1rem 0;
    filter: grayscale(100%) drop-shadow(1px 7px 16px rgb(22, 21, 21));
}

#contractual-land {
    display: flex;
    flex-direction: column;
    display: flex;
    background-color: var(--black-color);
    color: var(--white-color);
    position: relative;

    z-index: 2;
    top: -285px;
}

#profit-generated {
    display: flex;
    flex-direction: column;
    display: flex;
    background-color: var(--white-color);
    color: var(--black-color);
    position: relative;

    z-index: 2;
    top: -285px;
}

#profits-generated-text {
    width: 800px;
    color: var(--black-color);

    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 20px;
    align-self: center;
}

#contractual-land-text {
    width: 800px;
    color: var(--white-color);

    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 20px;
    align-self: center;
}

#rhythm-table {
    border-spacing: 20px;
    align-items: center;
}

#rhythm-table>img {
    border: 1px solid var(--white-color);
}

#top-text {
    position: relative;
    font-size: 3rem;
    font-weight: 900;
    color: var(--primary-color);
    line-height: 5rem;
    text-shadow: 3px 3px 10px #000000;
}

.subtitle {
    color: var(--subtitle-color);
    font-size: 1.2rem;
}

.acknowledgements {
    padding: 0.5rem 7vw;
}

.text {
    position: relative;
    align-items: start;
    color: var(--white-color);
    float: left;
    padding: 0rem 7vw;
}


#address>#query-decorator>input {
    width: 30vw;
}

#address {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-bottom: 3vh;
    flex-direction: column;
    gap: 1rem;
}

#address>#query-decorator {
    flex-direction: row;
    gap: 1em
}

#address>#query-decorator>ul {
    top: 38px;
    width: 30vw;
    height: 20vh;
    z-index: 9999;
}

.data-table {
    margin: auto;
    table-layout: fixed;
    width: 100%;
    text-align: center;
}

#overlay-image {
    max-width: 400px;
    position: absolute;
    left: 63px;
    top: 49%;
    margin-right: 10px;
    filter: brightness(80%);
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-120%);
    }

    100% {
        transform: translateY(0);
    }
}

figure {
    height: 100%;
}

.caption {
    color: var(--light-grey-color);
    font-size: 0.8rem;
}

.fun-figure {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right {
    margin: 0rem -3rem 0rem 5rem;
    float: right;
}

.left {
    margin: 1rem 10rem 2rem 1rem;
    float: left;
}

.effect {
    position: inherit;
    transition: 0.8s ease;
    z-index: 1;
}

#average-lots {
    width: 100%;
    align-items: center;
    text-align: center;
}

td>img {
    width: 250px;
    height: 300px;
    object-fit: cover;
    text-align: center;
}

#average-lots>td {
    text-align: center;
}


.effect:hover {
    transform: scale(1.2) translateX(15%) translateY(5%);
    opacity: 100%;
    z-index: 4;
    filter: brightness(100%);
}

.effect:hover~#overlay-image {
    transform: scale(0.90) translateY(-12%);
    z-index: 5;
    opacity: 0%;
}



.effect-right:hover {
    transform: translateX(-15%) scale(1.2);
}

#base-image {
    filter: brightness(90%);
}

#overlay-image:hover {
    filter: brightness(90%);
    transform: scale(1.2) translateY(-30%);
}

figure>img {
    border-radius: 10px;
    margin-bottom: 5px;
    max-height: 500px;
    min-height: 300px;
    height: 80%;
}

figure>div>img {
    border-radius: 10px;
}

figcaption {
    width: min-content;
    min-width: 100%;
    font-size: .7rem;
    line-height: 1.5;
}

.fig-cap-centered {
    margin-left: 15%;
}

.quote {
    margin: 0 13vw;
    text-align: justify;
}

.left-leaning {
    margin-left: -3rem;
}

.right-leaning {
    margin-left: 3rem;
}

.right-leaning>ul {
    margin-bottom: 5vh;
}

ul {
    list-style: none;
}

ul li::before {
    content: "\2022";
    color: var(--primary-color);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

ul li:hover {
    background-color: transparent;
}