#intro-box {
    position: absolute;
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 48vw;
    max-height: 80vh;
    max-width: 1000px;
    overflow-y: scroll;
    right: 25px;
    top: 4vh;


    background-color: var(--black-color);
    outline: 2px solid #444444;
    border-radius: var(--radius);
    -webkit-border-radius: var(--radius);

    transition: 0.5s all ease;
}

#query-box {
    position: absolute;
    z-index: 2;

    display: none;
    width: fit-content;

    right: 25px;
    top: 1vh;
    
    background-color: var(--black-color);
    outline: 2px solid #444444;
    border-radius: var(--radius);
    -webkit-border-radius: var(--radius);
}

#intro-content>h1 {
    font-size: 2.4rem;
    font-family: Neue-Machina;
    font-weight: 300;
    line-height: 1.05;
    color: var(--white-color);
}

#intro-content>h2 {
    font-size: 1.5rem;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 300;
    color: var(--white-color);
}

#intro-content {
    padding: 15px;
}

table#intro-table {
    width: 100%;
    color: var(--white-color);
    font-family: 'Space Grotesk', sans-serif;
    border-collapse: collapse;
}

#intro-table tr:first-of-type {
    font-size: 2.7rem;
    font-family: 'Space Grotesk', sans-serif;
}

#intro-table tr {
    font-size: 1.1rem;
    font-family: Neue-Machina;
}

#intro-table td {
    padding: 0 10px;
}

#intro-table tr:nth-child(even) {
    vertical-align: top;
}

#intro-table tr td div {
    line-height: 1.6;
}

#intro-table tr td:last-of-type div:nth-last-of-type(-n+2){
    padding-right: 0;
}

#intro-table tr td:last-of-type div:nth-last-of-type(-n+1){
    padding-right: 0;
}


#average-lots>tbody>tr:last-of-type {
    font-size: 1.2rem;
    line-height: 1.5;
    font-family: 'Hanken Grotesk', sans-serif;
    color: var(--white-color);
    vertical-align: top;
}


#view-full-map {
    vertical-align: middle;
    text-align: center;
    position: fixed;
    z-index: 5;
    border: 2px;

    right: 3vw;
    bottom: 2.5vh;


    background-color: var(--purple-color);
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 2px 15px;
    border-radius: var(--radius);
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem
}

#view-full-map::after {
    content: "";
    position: absolute;
    background-color: transparent;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 2px solid var(--black-color);
    border-radius: var(--radius);
    -webkit-border-radius: 2rem;
  }

.grow {
    transition: all 0.2s ease-in-out;
}

.grow:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.grow-no-pointer {
    transition: all 0.5s ease-in-out;
}

.grow-no-pointer:hover {
    transform: scale(1.02);
}


#landing {
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    z-index: 1;
}

#landing>p {
    color: var(--black-color);
}

.title {
    color: var(--black-color);
    font-family: Neue-Machina;
    font-size: 2.5rem;
    text-align: center;
    line-height: 1.5;
}

.introduction-text {
    width: 50%;
    color: var(--black-color);

    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 20px;
    align-self: center;
}

@media only screen and (max-width: 1200px) {
    .introduction-text {
        width: 62%;
    }
    #left-figure {
        left: 15px !important;
    }
    #right-figure {
        right: 15px !important;
    }
    .chart {
        left: -1vw !important;
    }
  }

.chart {
    width: 65vw;
    position: relative;
    left: -7.5vw;
}

.quote {
    margin-left: 7%;
    margin-right: 7%;
    text-align: justify;
}

.introduction-text>i {
    color: var(--black-color);
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 20px;
    align-self: center;
}

#wampum {
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0;
    margin: auto;
    padding: 1rem 0;
    filter: grayscale(100%);
}

#contractual-land {
    display: flex;
    flex-direction: column;
    display: flex;
    background-color: var(--black-color);
    color: var(--white-color);

    z-index: 2;
}

#profit-generated {
    display: flex;
    flex-direction: column;
    display: flex;
    background-color: var(--white-color);
    color: var(--black-color);
}

#profits-generated-text {
    width: 800px;
    color: var(--black-color);

    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 20px;
    align-self: center;
}

#black-text {
    color: var(--white-color);

    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 20px;
    align-self: center;
}

#rhythm-table {
    border-spacing: 20px;
    align-items: center;
}

#rhythm-table>tbody>tr>td {
    font-size: 1.1rem;
    vertical-align: middle;
    line-height: 1.7;
}

#rhythm-table>img {
    border: 1px solid var(--white-color);
}

#top-text {
    position: relative;
    font-size: 3rem;
    font-weight: 900;
    color: var(--primary-color);
    line-height: 5rem;
    text-shadow: 3px 3px 10px #000000;
}

.subtitle {
    color: var(--subtitle-color);
    font-size: 1.2rem;
}

.text {
    position: relative;
    align-items: start;
    color: var(--white-color);
    float: left;
    padding: 0rem 7vw;
}

#address>#query-decorator>ul {
    top: 71px;
    width: 100%;
    z-index: 9999;
    outline: none;
    z-index: 11;
}

.data-table {
    margin: auto;
    table-layout: fixed;
    width: 100%;
    text-align: center;
}

#overlay-image {
    max-width: 400px;
    position: absolute;
    left: 19vw;
    top: 38vh;
    margin-right: 10px;
    filter: brightness(80%);
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-120%);
    }

    100% {
        transform: translateY(0);
    }
}

.caption {
    color: var(--light-grey-color);
    font-size: 0.8rem;
    line-height: 1.3;
    margin-left: 5px;
}

.fun-figure {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right {
    margin: 0rem -3rem 0rem 5rem;
    float: right;
}

.left {
    margin: 1rem 10rem 2rem 1rem;
    float: left;
}

.effect {
    position: inherit;
    transition: 0.8s ease;
    z-index: 1;
}

#average-lots {
    width: 100%;
    align-items: center;
    text-align: center;
}

td>img {
    width: 90%;
    height: 300px;
    object-fit: cover;
    text-align: center;
}

#average-lots>td {
    text-align: center;
}


.effect:hover {
    transform: scale(1.2) translateX(15%) translateY(5%);
    opacity: 100%;
    z-index: 4;
    filter: brightness(100%);
}

.effect:hover~#overlay-image {
    transform: scale(0.90) translateY(-12%);
    z-index: 5;
    opacity: 0%;
}



.effect-right:hover {
    transform: translateX(-15%) scale(1.2);
}

#base-image {
    filter: brightness(90%);
    width: 80%;
    max-height: 800px;
    left: -10%;
}

#overlay-image:hover {
    filter: brightness(90%);
    transform: scale(1.3) translateY(-30%);
}

figure>img {
    border-radius: 10px;
    margin-bottom: 5px;
    height: 80%;
    object-fit: cover;
}


figcaption {
    width: min-content;
    min-width: 100%;
    font-size: .7rem;
    line-height: 1.5;
}

.fig-cap-centered {
    margin-left: 15%;
}


.left-leaning {
    margin-left: -3rem;
}

.right-leaning {
    margin-left: 3rem;
}

.right-leaning>ul {
    margin-bottom: 5vh;
}

ul {
    list-style: none;
}

ul li::before {
    content: "\2022";
    color: var(--primary-color);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

ul li:hover {
    background-color: transparent;
}

#left-figure {
    position: absolute;
    left: 5vw;
}

#right-figure {
    position: absolute;
    right: 5vw;
}