:root {
    --background-color: rgb(51, 51, 51);
    --primary-color: #d14e49;
    --white-color: #F9F6F1;
    --subtitle-color: #ffa8a8;
    ;
    --purple-color: rgb(123, 25, 148);
    --radius: 10px;
    --cadaster-color: #c4b9aa;
}

html {
    line-height: 2.2rem;
}

* {
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

h1,
a,
p {
    color: var(--white-color);
    margin: 0;
    text-decoration: none;
}

strong {
    font-weight: bold;
}

body {
    background-color: var(--background-color);
}


main::-webkit-scrollbar {
    display: none;
}


main {
    scroll-behavior: smooth;
    position: relative;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    z-index: 1;
    margin-top: 8vh;
    margin-bottom: 2vh;
}

nav {
    background-color: #C56E59;
    position: fixed;
    display: flex;
    height: 7vh;
    width: 100%;
    justify-content: left;
    top: 0%;
    z-index: 99999;
    padding-left: 2rem;
}


nav>a:hover {
    background-position: bottom;
}

nav>a {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin: 0;
    background-image: linear-gradient(to top, var(--primary-color) 50%, transparent 50%);
    background-size: 100% 200%;
    background-position: top;
    transition: background-position 0.25s ease-in-out;
}

#content {
    display: flex;
    border-radius: var(--radius);
    height: 800px;
}

.dividing-line {
    width: 90%;
    background: linear-gradient(90deg, rgb(135 131 131 / 83%), transparent);
    height: 0.3vh;
    border-radius: 8px;
}