:root {
  --background-color: #262626;
  --primary-color: #d14e49;
  --white-color: #e9e9e9;
  --subtitle-color: #ffa8a8;
  --orange-color: #F56B06;
  --purple-color: rgb(123, 25, 148);
  --radius: 10px;
  --cadaster-color: #c4b9aa;
}

html {
  line-height: 2.2rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
  margin: 0;
  padding: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

h1,
a,
p {
  color: var(--white-color);
  margin: 0;
  text-decoration: none;
}

strong {
  font-weight: bold;
}

body {
  background-color: var(--background-color);
}


main::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
}

main {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  z-index: 1;
  margin-top: 8vh;
}

nav {
  background-color: #C56E59;
  position: fixed;
  display: flex;
  height: 7vh;
  width: 100%;
  justify-content: left;
  top: 0%;
  z-index: 99999;
  padding-left: 2rem;
}


nav>a:hover {
  background-position: bottom;
}

nav>a {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin: 0;
  background-image: linear-gradient(to top, var(--primary-color) 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: top;
  transition: background-position 0.25s ease-in-out;
}

nav>div:last-of-type {
  margin: auto 3rem auto auto;
}

#content {
  display: flex;
  border-radius: var(--radius);
  height: 800px;
}

.dividing-line {
  width: 90%;
  background: linear-gradient(90deg, rgb(135 131 131 / 83%), transparent);
  height: 0.3vh;
  border-radius: 8px;
}

.active {
  background-color: var(--);
}

.spacer {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.switch {
  position: relative;
  display: inline-block;
  margin: 0 5px;
}

.switch>span {
  position: absolute;
  top: 0;
  pointer-events: none;
  font-family: 'Helvetica', Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
  width: 50%;
  text-align: center;
}

input.check-toggle-round-flat:checked~.off {
  color: #F36F25;
}

input.check-toggle-round-flat:checked~.on {
  color: #fff;
}

.switch>span.on {
  left: 0;
  padding-left: 2px;
  color: #F36F25;
}

.switch>span.off {
  right: 0;
  padding-right: 4px;
  color: #fff;
}

.check-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.check-toggle+label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.check-toggle-round-flat+label {
  padding: 2px;
  width: 80px;
  height: 30px;
  background-color: #F36F25;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}

input.check-toggle-round-flat+label:before,
input.check-toggle-round-flat+label:after {
  display: block;
  position: absolute;
  content: "";
}

input.check-toggle-round-flat+label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #F36F25;

  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}

input.check-toggle-round-flat+label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 45%;
  background-color: #fff;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  -o-transition: margin 0.2s;
  transition: margin 0.2s;
}

input.check-toggle-round-flat:checked+label:after {
  margin-left: 45%;
}