:root {
  --background-color: #262626;
  --primary-color: #d14e49;
  --white-color: #e1e1e1;
  --black-color: #000000;
  --dark-grey-color: #444444;
  --light-grey-color: #7c7c7c;
  --subtitle-color: #ffa8a8;
  --orange-color: #F56B06;
  --purple-color: #9f2fd3;
  --radius: 10px;
  --cadaster-color: #c4b9aa;
}



html {
  line-height: 2.2rem;
  scroll-behavior: smooth;
}

main {
  overflow: overlay;
}


*::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: none !important;
  background-color: transparent !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--dark-grey-color);
  border-radius: 18px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Neue-Machina;
  src: url(../../assets/Machina/PPNeueMachina-InktrapRegular.otf);
}

@font-face {
  font-family: Neue-Machina-Bold;
  src: url(../../assets/Machina/PPNeueMachina-InktrapUltrabold.otf);
}

.machina {
  font-family: Neue-Machina;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.image-shadow {
  filter: drop-shadow(1px 7px 16px rgb(22, 21, 21));
}

h1,
a,
p {
  margin: 0;
  text-decoration: none;
}

a.anchor {
  display: block;
  position: relative;
  top: -7.5vh;
  visibility: hidden;
}

.fixedElement {
  background-color: #c0c0c0;
  position: fixed;
  top: 8vh;
  z-index: 10000;
}

main {
  scroll-behavior: smooth;
  position: relative;
  margin-top: 7vh;
}

nav {
  background-color: var(--black-color);
  position: fixed;
  display: flex;
  height: 7vh;
  min-height: 40px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  top: 0;
  z-index: 99999;
  padding: 0 2rem 0 2rem;
}


nav>a>p {
  color: var(--white-color)
}

.underline {
  display: inline;
  position: relative;
  overflow: hidden;
}

.underline:after {
  content: "";
  position: absolute;
  width: 100%;
  right: 100%;
  bottom: 5px;
  background: var(--white-color);
  height: 3px;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.underline:hover:after,
.underline:focus:after,
.underline:active:after {
  right: 0;
}

nav>a {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin: 0;
  text-decoration: none !important;
}

nav>a>p {
  font-size: 1.3vw;
  font-family: Neue-Machina;
}

@media only screen and (max-width: 1200px) {
  nav>a>p {
    font-size: calc(1.3vw);
    text-align: center;
    font-family: Neue-Machina;
  }
}

nav>div:nth-of-type(-2) {
  margin: auto 3rem auto auto;
}

#content {
  display: flex;
  border-radius: var(--radius);
}

.dividing-line {
  background: rgb(135 131 131 / 83%);
  height: 0.3vh;
  width: 102%;
  border-radius: 8px;
}

.active {
  background-color: var(--);
}

.spacer {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.switch {
  position: relative;
  display: inline-block;
}

.switch>span {
  position: absolute;
  top: 0;
  pointer-events: none;
  font-family: 'Helvetica', Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
  width: 50%;
  text-align: center;
}

input.check-toggle-round-flat:checked~.off {
  color: var(--white-color);
}

input.check-toggle-round-flat:checked~.on {
  color: var(--white-color);
}

.switch>span.on {
  left: 0;
  top: -1px;
  padding-left: 1px;
  color: var(--white-color);
}

.switch>span.off {
  right: 0;
  top: -1px;
  padding-right: 3px;
  color: var(--black-color);
}

.check-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.check-toggle+label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.check-toggle-round-flat+label {
  padding: 2px;
  width: 80px;
  height: 30px;
  background-color: var(--purple-color);
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}

input.check-toggle-round-flat+label:before,
input.check-toggle-round-flat+label:after {
  display: block;
  position: absolute;
  content: "";
}

input.check-toggle-round-flat+label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: var(--purple-color);

  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}

input.check-toggle-round-flat+label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 45%;
  background-color: var(--black-color);
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  -o-transition: margin 0.2s;
  transition: margin 0.2s;
}

input.check-toggle-round-flat:checked+label:after {
  margin-left: 45%;
}

a:hover {
  text-decoration: underline;
}

.english {
}

.french {
  display: none;
}