#map {
    height: 83vh;
    margin-top: 7vh;
    z-index: 0;
}

#timeline-map {
    height: 83vh;
    margin-top: 7vh;
    z-index: 1;
}

path:focus {
    outline: none;
}

.legend {
    padding: 6px 8px;
    font-size: 1.3em;
    background: rgba(255, 255, 255, 0.6);
    color: var(--background-color);
    border-radius: 4px;
}

.legend h4 {
    text-align: center;
    font-size: 16px;
    margin: 2px 12px 8px;
    color: #777;
}

.legend span {
    position: relative;
    bottom: 3px;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin: 0 8px 0 0;
    opacity: 0.7;
}

.legend i.icon {
    background-size: 18px;
    background-color: rgba(255, 255, 255, 1);
}

.leaflet-popup-content-wrapper {
    opacity: 0.8;
}

/* For some reason this doesn't override the font size ... */
.leaflet-popup-content {
    font-size: 2em;
}

.IndigLandLabel {
    position: absolute;
    font-size: 20px;
    opacity: 60;
    background-color: transparent;
}

.circle {
    border-radius: 50px;
}

.dotted {
    position: relative;
    border-top: 2.5px dotted rgb(0, 0, 0);
    top: 11px;
}

.leaflet-control-layers {
    opacity: 0.5;
}