#geocoding-map {
    height: 80vh;
    width: 80%;
    z-index: 0;
    align-self: center;
    margin-bottom: 10vh;
}

#timeline-map {
    height: 83vh;
    z-index: 1;
}

path:focus {
    outline: none;
}

.legend {
    padding: 6px 8px;
    font-size: 1.3em;
    background: rgba(255, 255, 255, 0.6);
    color: var(--background-color);
    border-radius: 4px;
}

.legend h4 {
    text-align: center;
    font-size: 16px;
    margin: 2px 12px 8px;
    color: #777;
}

.legend span {
    position: relative;
    bottom: 3px;
}

.legend i {
    width: 40px;
    height: 5px;
    float: left;
    margin: 0 8px 0 0;
    opacity: 0.7;
    margin-top: 9px;
}


.leaflet-bottom.leaflet-left {
    white-space: nowrap;
}

.leaflet-bottom.leaflet-left .year-legend {
    top: 25px;
    left: 50px;
}

.leaflet-touch .leaflet-bar a{
    /* opacity: 0.9; */
    background-color: #D4D4D4;
}


.leaflet-touch .leaflet-bar > a > span {
    color: #333333;
}

.legend.gradient-line {
    width: 50px;
    height: 10px;
}

.legend i.icon {
    background-size: 18px;
    background-color: rgba(255, 255, 255, 1);
}

.leaflet-popup-content-wrapper {
    opacity: 0.8;
}


.leaflet-popup-content {
    font-family: Neue-Machina;
}

.leaflet-dragging .leaflet-grab {
    cursor: move;
}

/* For some reason this doesn't override the font size ... */
.leaflet-popup-content {
    font-size: 2em;
}

.leaflet-tooltip {
    font-family: Neue-Machina;
}

.IndigLandLabel {
    position: absolute;
    font-size: 20px;
    opacity: 60;
    background-color: transparent;
}

.dotted {
    position: relative;
    border-top: 2.5px dotted rgb(0, 0, 0);
    top: 11px;
}

.leaflet-control-layers {
    opacity: 0.5;
}

.geocoding-button-container {
    display: flex;
    flex-direction: row;
    align-self: center;
}