#no-address {
    position: relative;
    color: white;
    display: none;
    margin: auto;
    z-index: 2;
    text-align: center;
    animation: transparency-change 0.7s 2 forwards;
}

#not-in-polygon {
    position: relative;
    color: white;
    display: none;
    margin: auto;
    z-index: 2;
    text-align: center;
    animation: transparency-change 0.7s 2 forwards;
}


.decoration {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

#cadaster-query {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 1rem;
    padding: 0 0.5%;
    background-color: var(--background-color);
    height: 90vh;

    align-items: self-start;
    flex: 0 0 10%;
}

#cadaster-query>div:last-of-type {
    margin-top: auto;
}

#query-decorator {
    display: flex;
    flex-direction: column;
    position: relative;
}


#query-text {
    align-items: start;
    color: var(--white-color);
    font-size: 2rem;
}

#query-decorator>p {
    font-size: 1.05rem;
    white-space: nowrap;
}

#query-decorator>input {
    font-size: 1rem;
    border: 1px solid #cac9c9;
    padding: 0.5rem;
    border-radius: calc(var(--radius) - 5px);
}

#query-decorator>ul {
    list-style-type: none;
    position: absolute;
    padding: 0;
    margin: 0;
    height: 220%;
    width: 100%;
    overflow-y: scroll;
    display: none;
    z-index: 99999;

    top: 72px;
}

#query-decorator>ul::-webkit-scrollbar {
    display: none;
}


ul>span {
    display: block;
}

ul>span>p {
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: #f6f6f6;
    padding: 1% 0 1% 1%;
    font-size: 1rem;
    color: black;
}

ul :hover {
    background-color: #d8d6d6;
}

#input-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0 10px;
}

#button-decorators {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.button {
    align-items: center;
    height: 2.5rem;
    width: 10rem;
    white-space: nowrap;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

button:hover {
    transform: scale(1.03);
}

.submit-query {
    background-color: var(--primary-color);
    border: var(--white-color);
    color: white;
}

#no-data {
    position: relative;
    color: white;
    display: none;
    margin: auto;
    z-index: 2;
    text-align: center;
    animation: transparency-change 0.7s 2 forwards;
}

@keyframes transparency-change {
    0% {
        opacity: 100%;
    }

    25% {
        opacity: 0%;
    }

    50% {
        opacity: 100%;
    }

    75% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}


#omit {
    display: flex;
    flex-direction: row;
}

label>p {
    user-select: none;
}

#loading {
    display: none;
}

#slider-value {
    user-select: none;
}

.query-label {
    color: #999;
    position: absolute;
    top: 35px ;
    left: 10px;
    /* transform: translate(0.7rem, -2.3rem); */
    /* transition: all 0.2s ease-out; */
}