#no-address {
    position: relative;
    color: white;
    display: none;
    margin: auto;
    z-index: 2;
    text-align: center;
    animation: transparency-change 0.7s 2 forwards;
}

#not-in-polygon {
    position: relative;
    color: white;
    display: none;
    margin: auto;
    z-index: 2;
    text-align: center;
    animation: transparency-change 0.7s 2 forwards;
}


.decoration {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

#cadaster-query {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: self-start;
    max-height: 100%;
}

#cadaster-query>div:last-of-type {
    margin-top: auto;
}

#query-decorator {
    display: flex;
    flex-direction: column;
    position: relative;
}

#query-decorator:last-of-type {
    margin-bottom: 20px;
}



#query-text {
    align-items: start;
    color: var(--white-color);
    font-size: 2rem;
}

#query-decorator>p {
    font-size: 1rem;
    white-space: nowrap;
    font-family: Neue-Machina;
}

#query-decorator>input {
    font-size: 1rem;
    border: 1px solid #cac9c9;
    padding: 0.5rem;
    border-radius: calc(var(--radius) - 5px);
}

#query-decorator>input:hover {
    cursor: text;
}

#editing-view-port {
    font-family: Neue-Machina;
}

#query-decorator>label:hover {
    cursor: text;
}

#query-decorator>ul {
    list-style-type: none;
    position: absolute;

    height: 220%;
    width: 100%;
    overflow-y: scroll;
    display: none;
    z-index: 99999;

    border-radius: 0 0 4px 4px;
    outline: 2px solid #444444;
    top: 70px;
}

#query-decorator>ul::-webkit-scrollbar {
    display: none;
}


ul>span {
    display: block;
}

ul>span>p {
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: #f6f6f6;
    padding: 1% 0 1% 1%;
    font-size: 1rem;
    color: black;
}

ul :hover {
    background-color: #d8d6d6;
}

input[type="checkbox"] {
    accent-color: var(--white-color)
    }

#input-container {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding: 0 10px;
    color: var(--white-color);
    width: 100%;
}

#all-queries {
    overflow-y: scroll;
    max-height: 50vh;
}

#button-decorators {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-top: 1vh;
}

.button {
    align-items: center;
    height: 2rem;
    width: 10rem;
    white-space: nowrap;
    background-color: var(--black-color);
    border: 1px solid var(--white-color);
    color: var(--white-color);
    border-radius: 20px;
    transition: all 0.2s ease;
}
#editing-view-port>div {
    font-family: Neue-Machina;
}
button:hover {
    cursor: pointer;
}

.no-data {
    color: var(--white-color);
    display: none;
    margin: auto;
    z-index: 2;
    text-align: center;

    animation: transparency-change 0.7s 2 forwards;
}

@keyframes transparency-change {
    0% {
        opacity: 100%;
    }

    25% {
        opacity: 0%;
    }

    50% {
        opacity: 100%;
    }

    75% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}


#omit {
    display: flex;
    flex-direction: row;
}

label>p {
    user-select: none;
}

#loading {
    display: none;
}

#slider-value {
    user-select: none;
}

.query-label {
    color: #999;
    position: absolute;
    top: 35px;
    left: 10px;
}

#geocoding-decoration {
    position: absolute;
    right: 3vw;
    top: 75vh;
    z-index: 5;
    display: none;
}
