.info>button {
    margin: auto;
    text-align: center;
    border-radius: 3px;
    height: 30px;
    width: 30px;
    background-color: var(--primary-color);
    border-style: none;
}


.info>button>i {
    text-align: center;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
}


.info legend .leaflet-control>i {
    font-size: 1rem;
}

.leaflet-tile-container img {
    width: 257px !important;
    height: 257px !important;
}

.leaflet-left > .year-legend{
    background-color: transparent;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 39px;
    color: var(--white-color);
}

#start-timeline {
    display: flex;
    width: fit-content;
}

.small-button::before {
    cursor: pointer;
    transition: all 1s ease-in-out;
    position: relative;
    top: 1px;

    text-align: center;
    align-self: baseline;
    margin-left: 4px;
    font-size: 25px;
    /* background-color: black; */
}

.small-button:hover {
    transform: scale(1.03);
}